.modal-cont{
    width: 75vw;
    height: 90vh;
    background: rgba(255,255,255,0.2);
    border: 2px solid  rgba(255,255,255,0.2);
    border-radius: 30px;
    backdrop-filter: blur(8px);
    display: flex;
}